body {
  background: linear-gradient(to right, rgb(4, 4, 20), #101222, #080620); 
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#root {
  height: inherit;
}
.button {
  position: absolute;
  top: 52%;
  left: 19%;
  height: 50px;
  width: 50px;
  color: white;
  transition: 0.1s;
}

.button:hover {
  transform: scale(1.1);
}

.profilePic {
  position: absolute;
  top: 20%;
  left: 9%;
  height: 180px;
  width: 180px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;
  transition: 0.2s;
}

.profilePic:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px white;
}

.git {
  position: absolute;
  top: 50%;
  left: 9%;
  height: 40px;
  width: 43px;
  transition: 0.1s; 
  text-shadow: white;
}

.git:hover {
  transform: scale(1.1);
}

.linkedin {
  position: absolute;
  top: 50%;
  left: 14%;
  height: 38px;
  width: 38px;
  transition: 0.1s; 
  text-shadow: white;
}

.linkedin:hover {
  transform: scale(1.1);
}

.message {
  position: absolute;
  top: 15%;
  right: 15%;
  left: 30%;
  color: azure;
  font-size: 37 px;
}
.mess {
  font-size: 20px;
}

.links1 {
  position: relative;
  left: 20%;
  right: 20%;
  top: 10%;
  color: azure;
  margin: 50px;
}

.links2 {
  position: relative;
  left: 20%;
  right: 20%;
  top: 10%;
  color: azure;
  margin: 50px;
}